---
import Layout from '../layouts/Layout.astro';
import index from "../components/css/index.module.css";
---

<Layout title="Home">
    <section class={index.section}>
        <img class={index.img} src="/hero11.avif" alt="imagen café">
        <div>
            <img src="/tierraCafe.png" alt="logo">
            <a href="/menu">
                <button class={index.button}>Nuestro menú</button>
            </a>
        </div>
    </section>
</Layout>

