---
import Layout from "../layouts/Layout.astro"
import menu from "../components/css/menu.module.css";
---

<Layout title="Menu">
    <section class={menu.contenedor}>
        <section class={menu.section}>
            <div>
                <h2>Encuentra el mejor café para ti</h2>
                <input type="text" placeholder="Encuentra Tu Combinación">
            </div>
            <div>
                <ul>
                    <li>Bebidas Calientes</li>
                    <li>Bebidas Frías</li>
                    <li>Repostería</li>
                    <li>Sándwiches Gourmet</li>
                    <li>Sin Gluten</li>
                    <li>Sin Azúcar</li>
                </ul>
            </div>
        </section>

        <section>

        </section>
    </section>
    
</Layout>